<h1>Bienvenu sur le site d'Elias!</h1>
<p> J'aime ecouter de la musique pendant que je travaille ou que je programme. Voici deux extrait que j'aime bien. Le premier est Strenght of the world que j'ecoute en ce moment je penses que c'est cool. Le suivant est die for you. Vous pouvez l'ecouter sur mon site ou directement le voir sur youtube avec les liens ci dessous.</p>

<div>
  <audio controls>
    <source src="/assets/SOTW A7X.mp3" type="audio/mp3" />
  </audio>

  <audio controls>
    <source src="/assets/Die for you.mp3" type="audio/mp3">
  </audio>
</div>
<div>
  <iframe width="560"
          height="315"
          src="https://www.youtube.com/embed/94bGzWyHbu0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
  </iframe>

  <iframe width="560"
          height="315"
          src="https://www.youtube.com/embed/h7MYJghRWt0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
  </iframe>
</div>



